<div class="title">自动绑定脚本,需要先有测试环境或者生产环境的配置文件</div>
<div class="explain">
    <span style="margin-left: 20%;color: aqua;" v-for="(index,text) in pluginFunction" :item="text">{{index + 1}}:{{text}}</span>
</div>
<hr />
<div class="con">
    <ui-box-container>
        <div class="rowCon">
            <!--放置label和input-->
            <div class="inputItem">
                <div style="display: block;">需要挂载的模板数量:</div>
                <ui-num-input v-value="mainTemplateCount" class="item"></ui-num-input>
            </div>
            <div class="inputItem">
                <div style="display: block;">需要多少个相声:</div>
                <ui-num-input v-value="talkNum" class="item"></ui-num-input>
            </div>
            
        </div>
        <div class="newRowCon">
            <div class="inputItem" v-for="item in talkNum" :key="item">
                <div style="display: block;">第{{item + 1}}个相声预制体的名字:</div>
                <ui-input v-value="talkNameArray[item]" class="item"></ui-input>
            </div>
        </div>
    </ui-box-container>
    <hr />
    <ui-box-container>
        <div class="rowCon">
            <!--放置label和input-->
            <div class="inputItem">
                <div style="display: block;">需要多少个大关卡:</div>
                <ui-num-input v-value="largeLevelNum" class="item"></ui-num-input>
            </div>
            
        </div>
        <div class="newRowCon">
            <div class="inputItem" v-for="(index,it) in largeLevelNum" :key="it">
                <div style="display: block;">第{{index + 1}}个大关卡的小关卡数量:</div>
                <ui-input v-value="topicLevelArray[index]" class="item"></ui-input>
            </div>
        </div>
    </ui-box-container>
    <div class="newRowCon" style="margin-top: 10px;">
        <ui-checkbox :checked="isDeleteHorn" @confirm="setIsDelete" style="font-size: 15px;">删除原来的喇叭节点</ui-checkbox>
        <ui-checkbox :checked="isDeleteReal" @confirm="setIsDeleteReal" style="font-size: 15px;">删除原来的实时教具节点</ui-checkbox>
        <ui-checkbox :checked="isDeleteProgress" @confirm="setIsDeletePro" style="font-size: 15px;">删除原来的进度条节点</ui-checkbox>
        <ui-checkbox :checked="isChangeProgressInSection" @confirm="setIsChangeProgressInSection" style="font-size: 15px;">在环节关卡中替换进度条</ui-checkbox>
    </div>
    <hr />
    <ui-button id="btn" @confirm="startBind" class="green">开始自动绑定脚本</ui-button>
</div>