:host { margin: 5px; }
    h2 { color: #f90; }
.con {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.item {
    margin-bottom: 10px;
}
.con .rowCon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}
.inputItem {
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    
}
.con .colCon {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
}

.newRowCon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}